* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    color: #000;
    box-sizing: border-box;
}

h1 {
    font-size: 40px;
    font-weight: 500;
    line-height: 1.0;
}

.dark h1 {
    color: rgb(255, 255, 255);
}

h2 {
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5;
}

.dark h2 {
    color: rgb(255, 255, 255);
}

body {
    /* background-color: rgb(27, 27, 27); */
    background: linear-gradient(90deg, #303030,black);
}
body.dark {
    /* background-color: rgb(211, 211, 211); */
    background: linear-gradient(90deg, #acacac, #fff);
}

.container {
    max-width: 1200px;
    background-color: #fff;
    margin: 0 auto;
    margin-top: 20px;
    padding: 20px 50px;
    box-shadow: 0 20px 28px rgba(0,0,0,0.35), 0 10px 10px rgba(0,0,0,0.22);
}
.dark .container {
    background-color: rgb(27, 27, 27);
}

.header {
    position: relative;
}

.btn {
    position: absolute;
    top: 4px;
    right: 38px;
    width: 130px;
    height: 26px;
    font-weight: 400;
    color: #fff;
    background-color: rgb(27, 27, 27);
    border: none;
}
.dark .btn {
    color: rgb(27, 27, 27);
    background-color: #fff;
    font-weight: 500;
}

.subtitle {
    display: block;
    margin: 20px 0;
}


@keyframes rotate {
    from {
        /* transform: rotateZ(0deg); */
        /* transform: skewY(0deg); */
        background-color: rgb(182, 145, 145);
    }
    to {
        /* transform: rotateZ(360deg); */
        /* transform: skewY(180deg); */
        background-color: rgb(139, 64, 64);
    }
}



.rotate-shadows {
    width: 220px;
    height: 220px;
    position: relative;
  }
  .rotate-shadows:after,
  .rotate-shadows:before {
    content: "";
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-origin: center center;
  }
  .rotate-shadows:before {
    box-shadow: inset 0 20px 0 rgba(0, 250, 250, 0.6), inset 20px 0 0 rgba(0, 200, 200, 0.6), inset 0 -20px 0 rgba(0, 150, 200, 0.6), inset -20px 0 0 rgba(0, 200, 250, 0.6);
    animation: rotate-before 3s -0.5s linear infinite;
  }
  .rotate-shadows:after {
    box-shadow: inset 0 20px 0 rgba(250, 250, 0, 0.6), inset 20px 0 0 rgba(250, 200, 0, 0.6), inset 0 -20px 0 rgba(250, 150, 0, 0.6), inset -20px 0 0 rgba(250, 100, 0, 0.6);
    animation: rotate-after 3s -0.5s linear infinite;
  }
  @keyframes rotate-after {
    0% {transform: rotateZ(0deg) scaleX(1) scaleY(1);}
    50% {transform: rotateZ(180deg) scaleX(0.82) scaleY(0.95);}
    100% {transform: rotateZ(360deg) scaleX(1) scaleY(1);}
  }
  @keyframes rotate-before {
    0% {transform: rotateZ(0deg) scaleX(1) scaleY(1);}
    50% {transform: rotateZ(-180deg) scaleX(0.95) scaleY(0.85);}
    100% {transform: rotateZ(-360deg) scaleX(1) scaleY(1);}
  }

